@{
    ViewBag.Title = "Provo's Top 5 Restaurants";
    ViewBag.Dash = " - ";
    ViewBag.SubTitle = "Restaurant Added";
    ViewBag.RestaurantName = Model.name;
}
@*@model Assignment_5_Josiah_Sarles.Models.AddRestaurant*@

<h1>@ViewBag.SubTitle!</h1>

<p>You have added @ViewBag.RestaurantName to my list.</p>

<h2>Would you like to add another restaurant or see the list?</h2>

<a class="nav-link text-dark" asp-controller="Home" asp-action="RestaurantsForm">Add Another Restaurant</a>

<a class="nav-link text-dark" asp-controller="Home" asp-action="UserRestaurants">See Restaurant List</a>

